# ${TEMPLATE_WARNING}

# Default length of time a cache entry is valid.
default-cache-ttl 0
default-cache-ttl-ssh 0

# Maximum time a cache entry is valid, even if used before default-cache-ttl expires
max-cache-ttl 600
max-cache-ttl-ssh 0

# SSH On!
enable-ssh-support

# GUI pinentry
pinentry-program ${PINENTRY}
